name: generate changelog and create pre release

on:
  pull_request:
    branches: [ "main" ]
    paths-ignore:
      - 'CHANGELOG.md'

jobs:
  build:
    runs-on: ubuntu-latest
    if: ${{ github.event.pull_request.head.repo.full_name == github.repository }}
    env:
      CHANGELOG_BRANCH: ${{ github.head_ref }}

    permissions:
      contents: write

    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          ref: ${{ github.head_ref }}
          fetch-depth: 0

      - name: Conventional Changelog Action
        id: changelog
        uses: TriPSs/conventional-changelog-action@v3
        with:
          github-token: ${{ secrets.REPO_GITHUB_TOKEN }}
          output-file: "false"
          pre-release: "true"
          git-branch: ${{ env.CHANGELOG_BRANCH }}
          skip-commit: "true"
          skip-tag: "true"
          skip-on-empty: "true"

      - name: Create Release
        uses: actions/create-release@v1
        if: ${{ steps.changelog.outputs.skipped == 'false' }}
        env:
          GITHUB_TOKEN: ${{ secrets.REPO_GITHUB_TOKEN }}
        with:
          tag_name: ${{ steps.changelog.outputs.tag }}
          release_name: ${{ steps.changelog.outputs.tag }}
          body: ${{ steps.changelog.outputs.clean_changelog }}
